* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #18314e;
}
body {
    background-color: #1b417d;
    text-align: center;
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('cloud3.png'), url('cloud1.png'), url('cloud2.png'), url('cloud3.png'),url('cloud2.png');
    background-position: calc(100% - 20px)  calc(3%),  calc(50% + 100px) 5%, 5% 25%, calc(15%)  calc(12%), calc(80%) 100px;
    background-size: 210px auto, 340px auto, 120px auto, 210px auto, 110px auto;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
main {
    width: 90%;
    max-width: 900px;
    background-color: #ffe4ce;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    margin-top: 80px;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #193773;
}
#subhead {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #193773;
}
button {
    font-size: 1.2rem;
    margin: 10px;
    background-color: #1f426b;
    color: #ffffff;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
button:hover {
    background-color: #163253;
    transform: scale(1.05);
}
.quiz-container {
    display: none;
    width: 100%;
    max-width: 940px;
    /* background-color: #fef1e5; */
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    text-align: center;
    animation: fadeIn 1s ease-in-out;

}
#question-text {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1f426b;
}
#options-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 10px;
}
#options-container label {
    width: 100%;
    max-width: 600px;
    padding: 9px;
    background-color: #f0f0f0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out, transform 0.2s;
    font-size: 1.2rem;
}
#options-container label:hover {
    background-color: #dfe6e9;
    transform: scale(1.02);
    /* transition: all 0.5s ease-in-out; */

}
#progress {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    background-color: #9ab8dd;
    width: fit-content;
    padding: 8px 8px;
    border-radius: 15px;
    margin-left: auto;
    font-weight: bold;
    /* margin-top: 5px; */
}
#score {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1f426b;
    margin-top: 20px;
}
.next {
    display: none;
    margin-top: 5px;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;

}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.option-button {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    background-color: #31639c;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    border: none;
}

.option-button:hover {
    background-color: #5084be;
    transform: scale(1.04);

}

.option-button:disabled {
    cursor: not-allowed;
    opacity: 0.78;
}

